.nav-list {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #d3d3d3;
}

.nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list ul li {
    display: inline;
}

.nav-list ul li button {
    display: inline-block;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-list ul li button:hover {
    background-color: #45a049; /* Darker green */
}
